<!--05/09/2022-->
<!--Alex Smetana-->
<!--CIS 345-->


<!--
    05/09/2022 
    Inspired by: https://mdbootstrap.com/docs/standard/navigation/footer/
-->
<!--
    Footer
    Purely for estetic purposes. Has no functionality other than to look visually apealing.
-->
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark">FlightsOfWisconsin12345.gov/</a>
    </div>
</footer>